<a href="https://colab.research.google.com/github/KodumuruRaja/Feature-Engineering/blob/main/Feature-Engineering-(Performing%20One-Hot-Encoding%20for%20Multi-Categorical-Variables).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/train.csv",usecols=['X1','X2','X3','X4','X5','X6'])

In [ ]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [ ]:
for col in data.columns:
  print(col, ':', len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [ ]:
# number of columns obtained after one hot encoding
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

In [ ]:
# the top 10 most frequent categories for the variable X2
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [ ]:
top_10=[x for x in data.X2.value_counts().sort_values(ascending=False).head(10)]
top_10

[1659, 496, 415, 367, 265, 153, 137, 94, 87, 81]

In [ ]:
#Now we make the 10 binary variables
for label in top_10:
  data[label]=np.where(data['X2']==label,1,0)
data[['X2']+top_10].head(40)

    X2  1659  496  415  367  265  153  137  94  87  81
0   at     0    0    0    0    0    0    0   0   0   0
1   av     0    0    0    0    0    0    0   0   0   0
2    n     0    0    0    0    0    0    0   0   0   0
3    n     0    0    0    0    0    0    0   0   0   0
4    n     0    0    0    0    0    0    0   0   0   0
5    e     0    0    0    0    0    0    0   0   0   0
6    e     0    0    0    0    0    0    0   0   0   0
7   as     0    0    0    0    0    0    0   0   0   0
8   as     0    0    0    0    0    0    0   0   0   0
9   aq     0    0    0    0    0    0    0   0   0   0
10   r     0    0    0    0    0    0    0   0   0   0
11   e     0    0    0    0    0    0    0   0   0   0
12  ai     0    0    0    0    0    0    0   0   0   0
13   e     0    0    0    0    0    0    0   0   0   0
14  as     0    0    0    0    0    0    0   0   0   0
15  ak     0    0    0    0    0    0    0   0   0   0
16   e     0    0    0    0    0    0    0   0   0   0
17  as     0    0    0    0    0    0    0   0   0   0
18   m     0    0    0    0    0    0    0   0   0   0
19  ak     0    0    0    0    0    0    0   0   0   0
20   m     0    0    0    0    0    0    0   0   0   0
21  as     0    0    0    0    0    0    0   0   0   0
22   a     0    0    0    0    0    0    0   0   0   0
23   m     0    0    0    0    0    0    0   0   0   0
24  ak     0    0    0    0    0    0    0   0   0   0
25   m     0    0    0    0    0    0    0   0   0   0
26  as     0    0    0    0    0    0    0   0   0   0
27  as     0    0    0    0    0    0    0   0   0   0
28  as     0    0    0    0    0    0    0   0   0   0
29   m     0    0    0    0    0    0    0   0   0   0
30  as     0    0    0    0    0    0    0   0   0   0
31  as     0    0    0    0    0    0    0   0   0   0
32   m     0    0    0    0    0    0    0   0   0   0
33  as     0    0    0    0    0    0    0   0   0   0
34  as     0    0    0    0    0    0    0   0   0   0
35  ai     0    0    0    0    0    0    0   0   0   0
36  as     0    0    0    0    0    0    0   0   0   0
37   k     0    0    0    0    0    0    0   0   0   0
38  as     0    0    0    0    0    0    0   0   0   0
39  as     0    0    0    0    0    0    0   0   0   0

In [ ]:
#get whole set of dummy variables, for all the categorical variables
def onehot(df,variable,top_x_labels):
  #function to create the dummy variables for the most frequent labels
  # we can vary the number of most frequent labels that we encode
  for label in top_x_labels:
    df[variable+'_'+label]=np.where(data[variable]==label,1,0)

In [ ]:
# read the data again
data=pd.read_csv("/content/train.csv",usecols=['X1','X2','X3','X4','X5','X6'])
# encode X2 into the 10 most frequent categories
onehot(data,'X2',top_10)
data.head()

TypeError: ignored

In [ ]:
# top 10 most frequent categories of X1
top_10=[x for x in data.X1.value_counts().sort_values(ascending=False).head(10).index]
#now create the 10 most frequent dummy variables for X1
onehot(data,'X1',top_10)
data.head()